.search-bar {
    display: flex;
    width: 100%;
    min-height: 5rem;
    padding-inline: 1rem;
    align-items: center;
    font-size: 1.2rem;
    color: rgb(var(--clr-text));
    justify-content: space-around;
    border-bottom: 1px solid rgb(var(--clr-text));
}

.search {
    height: max-content;
    width: 30ch;
}

.filter {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.sort {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.search-options {
    display: flex;
    gap: 1rem;
}

i:hover {
    cursor: pointer;
}

.orders-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    height: 100%;
    overflow: auto;
    padding: 2rem;
}

.orders-container::-webkit-scrollbar {
    width: 0.5em;
}

.orders-container::-webkit-scrollbar-thumb {
    background-color: rgba(var(--clr-background));
    outline: 1px solid slategrey;
    border-radius: 0.3rem;
}

.orders-overflow {
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.order {
    display: flex;
    align-items: center;
    color: rgb(var(--clr-text));
    margin-inline: auto;
    font-size: 1.2rem;
    border: 1px solid rgb(var(--clr-neutral-500));
    border-radius: 10px;
    padding: 1rem;
    transition: 0.3s ease-in-out;
    width: 100%;
    gap: 1rem;
}

.user-image {
    width: 8rem;
    height: 8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    line-height: 1.2rem;
    width: 100%;
    padding-block: 0.5rem;
}

.user-username {
    color: rgb(var(--clr-primary-300));
    font-weight: bold;
}

.order-content {
    background-color: rgb(var(--clr-background));
    height: 100%;
    border-radius: 10px;
    padding: 0.3rem;
    display: flex;
    gap: 1rem;
}

.order-text {
    display: flex;
    flex-direction: column;
    width: 40ch;
    justify-content: space-around;
}

.order-controls {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    height: 100%;
    justify-content: space-between;
}

.order-status {
    margin-left: auto;
    color: rgb(var(--clr-primary-300));
}

.order-buttons {
    display: flex;
    gap: 1rem;
}

.order-buttons Button {
    flex-basis: 0;
    flex-grow: 1;
}
.user-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.price {
    font-weight: bold;
    font-size: 1.3rem;
}

.cancelled {
    color: rgb(var(--clr-error));
}

.pending {
    color: rgb(var(--clr-warning));
}

.returned {
    color: rgb(var(--clr-success));
}

.vehicles {
    border-radius: 10px;
    padding: 1rem;
    background-color: rgb(var(--clr-background-secondary));
}
